@using System.Globalization
@using Hovis.Web.StaffLeave.Models
@model IEnumerable<Hovis.Data.Models.ADUser>
@{
    Layout = "~/Views/Shared/_StaffLeaveLayout.cshtml";
}

@if (TempData.ContainsKey("alert"))
{
    var alert = TempData["alert"] as Alert;
    var alertClass = "alert-" + alert.Type;

    <div style="padding: 1em">

        <div class="alert alert-dismissible @alertClass" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

            @if (alert.Title != null)
            {
                <strong>@alert.Title</strong>
                <br />
            }
            @alert.Message
        </div>
    </div>
}
<h2>Manage Staff Hierarchy</h2>

<hr />
<table class="table table-striped ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Reports To</th>
            <th>Subordinates</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName <br /> <small>@user.Email</small></td>

                <td>Department Name </td>
                <td>John Smith, Mike Smith</td>
                <td>
                    Simon Jones<br />
                    John Jones<br />
                    ... and 33 more
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "StaffHierarchy", new { id = user.EmployeeNumber }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>